spring:
  application:
    name: GestorLDS

  datasource:
    url: jdbc:postgresql://${DB_HOST:roundhouse.proxy.rlwy.net}:${DB_PORT:5432}/${DB_NAME:railway}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:hEKbANdBBydEhcaqqVnQtCbWJowyLvON}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: America/Lima

    h2:
      console:
        enabled: false

    mvc:
      cors:
        allowed-origins: "*"
        allowed-methods: GET,POST,PUT,DELETE,OPTIONS,PATCH
        allowed-headers: "*"
        allow-credentials: true

  server:
    port: ${PORT:8080}

  logging:
    level:
      root: INFO
      com.gestorlds: INFO
      org.springframework.security: INFO
      org.hibernate.SQL: INFO

    pattern:
      console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

  app:
    jwt:
      secret: ${JWT_SECRET}
      expiration: 86400000

  springdoc:
    swagger-ui:
      enabled: false
    api-docs:
      enabled: false